@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Jockey+One&family=Just+Me+Again+Down+Here&display=swap');



:root{
    --cor-principal: #982417;
    --cor-secundaria: #FFF0D1;
    --cor-terciaria: #000000;
    --cor-quarta: #fff;
}

