@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Just+Me+Again+Down+Here&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');




:root{
    --cor-principal: #982417;
    --cor-secundaria: #FFF0D1;
    --cor-terciaria: #000000;
    --cor-quarta: #fff;
}

/* header */
header {
    width: 100vw;
    height: 300px; 
    background-color: var(--cor-principal);
  
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; 
  }
    
    .header__title {
    color: var(--cor-secundaria);
    font-family: "Just me again down here", sans-serif;
    font-size: 80px; 
    }

    
    .header__title--brown {
    color: rgba(241, 198, 112, 0.969);
    font-size: 80px;
    font-family: "Just me again down here", sans-serif;
    }
    
     /* Navegação  */
    .nav {
    padding: 10px; 
    }

    
    .nav__lista {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
      }
      
    
    .nav__lista--itens {
    display: inline;
    margin: 0 10px;
    color: var(--cor-secundaria);
    font-family: "Lekton", sans-serif;
    font-size: 32px;
    }
    



.form{
    display: flex;
    flex-direction: column;
    width: 408px;
    height: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    border-radius: 25px;
    background-color: grey;
    box-shadow: 0px 4px 4px 0px black;
    
    position: relative;
    left: 100px; 
}

#Beneficios{
    background-color: var(--cor-secundaria);
}

#Depoimento{
    background-color: var(--cor-terciaria);
    color: white;
    font-family: sans-serif;
}

#Beneficios div{
    display: flex;
    justify-content: center;
    gap: 100px;
}


.Beneficios-itens{
    background-color: white;
    border: 1px solid black;
    width: 300px;
    height: 200px;

    display: inline-block;
    justify-content: center;
    align-items: center;
}

